#blackground {
    position: fixed; /*video*/
    inset: 0;
    z-index: -1; /*coloca as informações por cima do video*/
    width: 100%;
    height: 100vh;
}

#blackground video {
    width: 100%;
    height: 100%;
    object-fit: cover; /*não deixa o videio esticado*/
}

#blackground::after {
    content: '';

    width: inherit;
    height: inherit;
    position: fixed;
    inset: 0;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
}
